In [1]:
import pandas as pd

In [2]:
train_header = ["sentiment", "user_id", "datetime", "ignore_me", "username", "tweet"]
test_header = ["sentiment", "ignore_me", "datetime", "phrase", "username", "tweet"]

In [3]:
# TODO: need to set column headers
train = pd.read_csv("./data/training.1600000.processed.noemoticon.csv", names=train_header, encoding="latin1")
test = pd.read_csv("./data/testdata.manual.2009.06.14.csv", names=test_header, encoding="latin1")

In [4]:
# tweet sentiment: 0 = negative, 2 = neutral, 4 = positive
train = train[["sentiment", "datetime", "username", "tweet"]]

In [5]:
train["sentiment"] = train["sentiment"].apply(lambda x: 1 if x == 4 else 0)

In [6]:
train.head()

,sentiment,datetime,username,tweet
0,0,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
2,0,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
4,0,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all...."

In [7]:
train.tail()

,sentiment,datetime,username,tweet
1599995,1,Tue Jun 16 08:40:49 PDT 2009,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,1,Tue Jun 16 08:40:49 PDT 2009,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,1,Tue Jun 16 08:40:49 PDT 2009,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,1,Tue Jun 16 08:40:49 PDT 2009,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,1,Tue Jun 16 08:40:50 PDT 2009,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [8]:
train["sentiment"].value_counts()

1    800000
0    800000
Name: sentiment, dtype: int64

In [10]:
test = test[["sentiment", "datetime", "username", "tweet"]]
test = test[test["sentiment"] != 2]

In [11]:
test.head()

,sentiment,datetime,username,tweet
0,4,Mon May 11 03:17:40 UTC 2009,tpryan,@stellargirl I loooooooovvvvvveee my Kindle2. ...
1,4,Mon May 11 03:18:03 UTC 2009,vcu451,Reading my kindle2... Love it... Lee childs i...
2,4,Mon May 11 03:18:54 UTC 2009,chadfu,"Ok, first assesment of the #kindle2 ...it fuck..."
3,4,Mon May 11 03:19:04 UTC 2009,SIX15,@kenburbary You'll love your Kindle2. I've had...
4,4,Mon May 11 03:21:41 UTC 2009,yamarama,@mikefish Fair enough. But i have the Kindle2...

In [12]:
test.tail()

,sentiment,datetime,username,tweet
492,4,Sun Jun 14 04:31:28 UTC 2009,yomcat,"After using LaTeX a lot, any other typeset mat..."
494,0,Sun Jun 14 04:32:17 UTC 2009,sam33r,"On that note, I hate Word. I hate Pages. I hat..."
495,4,Sun Jun 14 04:36:34 UTC 2009,iamtheonlyjosie,Ahhh... back in a *real* text editing environm...
496,0,Sun Jun 14 21:36:07 UTC 2009,plutopup7,"Trouble in Iran, I see. Hmm. Iran. Iran so far..."
497,0,Sun Jun 14 21:36:17 UTC 2009,captain_pete,Reading the tweets coming out of Iran... The w...

In [13]:
pos = train[train["sentiment"] == 1]
neg = train[train["sentiment"] == 0]

In [15]:
pos.to_csv("./data/pos.csv", header=True, index=False)
neg.to_csv("./data/neg.csv", header=True, index=False)